{% include "header.html" %}
<div class=" container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 mb-4">
        <img src="/static/images/profile.png" class="rounded d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About Me</h1>
        <p class="lead">Hello I am Zane! A dynamic and passionate individual with a deep love for computer programming, travel, and art. At the age of 19, I embarked on an exciting journey into the world of computer programming, immersing my self in the study of various programming languages since 2022. With a thirst for knowledge and a keen eye for problem-solving, I have honed my skills and developed a strong foundation in programming concepts and methodologies.</p>
    </div>

  </div>
  </div>

   <div class="hero parallax--bg">
            <div class="container-fluid" >
                <div class=" container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-12">
        <p class="lead mb-5">Beyond the realms of programming, I am an avid traveler, finding inspiration and joy in exploring new cultures, landscapes, and experiences. I believe that travel broadens horizons and fuels creativity, allowing me to gain fresh perspectives and infuse my work with diverse influences. When not delving into lines of code or setting foot on new adventures, I can often be found immersed in the world of art, whether it be painting, music, or simply appreciating the beauty and expression that art brings.</p>
    </div>

  </div>
  </div>
            </div>
        </div>
<div class=" container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-12">
        <p class="lead">Combining my technical prowess, wanderlust, and artistic flair, I seek to make a lasting impact in the realm of technology and beyond. With an unwavering dedication to innovation, I am driven to create meaningful and user-centric solutions that bridge the gap between technology and human experiences. I aspires to leverage my programming skills and artistic sensibilities to bring about positive change, leaving an indelible mark on the world through my work.</p>
    </div>

  </div>
  </div>


{% include "footer.html" %}
