{% include "header.html" %}

  <!-- Title -->
<div class="container index">
  <section id="title">
  <div class="px-4 pt-5 my-5 text-center border-bottom border-white">
    <h1 class="display-4 fw-bold ">Hello! My Name is Zane Hyatt</h1>
    <h2 class="display-7 fw-bold ">A Python Developer</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 p-5">Welcome to my portfolio website! I am a dedicated and self-taught Python programmer based in the vibrant city of Los Angeles. With a strong passion for coding and problem-solving, I have honed my skills through countless hours of self-study and hands-on projects.</p>
    </div>
  </div>
  </section>
  </div>

{% include "footer.html" %}